.caixa-pai {
    display: flex;
    border;
    width: 350px;
    height: 500px;
    justify-content: flex-start;
    

}
.elementos {
    display: flex;
    background-color: #fff;
    width: 350px;
    flex-direction: column;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.item {
    display: flex;
    justify-content: flex-start;
    height: 25%;
    width: 100%;
    border-top: 3px solid;
    border-bottom: 1px solid;

}
.nome_principal {
    width: 200px;
    height: 50px;
}
.item::before{
    content: "";
    background-color: white;
    width: 67px;
    height: 64px;
    margin-right: 10px;
}
.dados{
    position: relative;
    top: 20px;
    right: 200px;
    left: -190px;
    width: 25%;
    height: 20%;
    font-size: 75%;
    font-family: cursive;
}
.face::before {
    background-image: url(../images/logo-facebook.png.png);
}
.insta::before {
    background-image: url(../images/logo-insta.png.png);
}
.wpp::before {
    background-image: url(../images/logo-wpp.png.png);
}
.twitter::before {
    background-image: url(../images/logo-twitter.png.png);
}
