.menu {
    background-color: cadetblue;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

.caixa {
    background-color: cadetblue;
    padding-bottom: 100px;
    margin-bottom: 30px;
}

.rodape-caixas .caixa {
    padding-bottom: 150px;
    text-align: center;
}

.rodape {
    background-color: cadetblue;
    padding-bottom: 30px;
}
