body {
    font-family:'Oxygen', sans-serif;
}
h2{
    color:gold;
    text-align: center;
    font-style:italic;
}
h3{
    color:cornsilk;
    text-decoration: underline;
    font-weight: normal;
}
p{
    text-align: justify;
    font-size: 14px;
    line-height: 23px;

}
strong {
    color:gold;
}
mark{
    background-color:greenyellow;
}
header {
    background-color:darkslategray;
    width: 960px;
    padding: 30px;
    border-style: dotted;
    border-color: #fff;
    border-width: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right: auto;
}
section {
    background-color: darkslategray;
    width: 960px;
    padding: 30px;
    border-style: dotted;
    border-color: #fff;
    border-width: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right: auto;
}
article {
    background-color:cadetblue;
    width: 890px;
    padding: 30px;
    border-style: dotted;
    border-color: #fff;
    border-width: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right: auto;
}
footer {
    background-color: darkslategray;
    width: 960px;
    padding: 30px;
    border-style: dotted;
    border-color: #fff;
    border-width: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left:auto;
    margin-right: auto;
}
ul {
    padding: 0px;
}
.dados {
    color:gold;
    font-weight: bold;
}
.links {
    color: gold;
}
a {
    color: cyan;
}