* {
    box-sizing: border-box;
}
body {
    text-align: center;
    
}
header, footer {
    display: block;
    background-color:rgb(0, 100, 18);
    height: 100px;
    width: 1200px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    line-height: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 10px;
}
header, footer{
    color: rgba(27, 172, 216, 0.87);
}
aside, section{
    height: 1000px;
    display: inline-block;
    position: relative;
    vertical-align: top;
    background-color:rgb(27, 105, 110);
    font-family: Arial, Helvetica, sans-serif;
}
aside {
    width: 500px;
    margin: 5px 0;
}

section {
    width: 700px;
    margin: 5px 0;
}

header, aside, footer, section {
    border: 5px dotted #fff;
    padding: 30px;
}
.links {
    line-height: 0px;
}
.area-imagens {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: lightcyan;
    line-height: 5px;
    
}
.hobbies-imagens {
    margin-bottom: 30px;
}
.links {
    text-decoration: none;
}
.area-videos {
    text-align: left;
    padding-bottom: 40px;
}
.area-musicas{
    background-color: rgba(0, 0, 0, 0.453);
    color:springgreen;
    font-size: 22px;
    border-radius: 20px;
}
.area-videos {
    color: lightcyan;
    padding-bottom: 0px;
}
.volta-index{
    color:lightgrey;
    text-decoration: none;
}
.volta-index:hover{
    color:rgb(212, 142, 142);
}
